---
layout: default
title: NeoScribe (th)
---

<h1>Posts</h1>

<!-- This loops through the paginated posts -->
  <ul class="list-of-posts">
{% for post in paginator.posts %}
<li>
    <span class="index-post-date">{{ post.date | date_to_string }}</span> &raquo;  
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
 </ul>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <!--a href="/page{{ paginator.previous_page }}" class="previous">Previous</a-->
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Newer</a>
  {% else %}    <span class="previous">Newer</span>  
  {% endif %}
  
  {% if paginator.next_page %}    
    <!--a href="/page{{ paginator.next_page }}" class="next">Next</a-->
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Older</a>
  {% else %}    <span class="next">Older</span>  
  {% endif %}
  
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
</div>
{% endif %}


{% if paginator.page == 1 %}
<hr>
<p>Written in <a href="http://vireax.github.io/en">en</a>, <a href="http://vireax.github.io/fr">fr</a>, <a href="http://vireax.github.io/km">km</a>, th</p>
{% endif %}
